.hero-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--spacing-section-py);
  padding-bottom: var(--spacing-section-py);
}

.hero-container {
  position: relative;
  max-width: var(--size-max-7xl);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (min-width: 768px) {
  .hero-section {
    margin-left: var(--spacing-margin-md);
  }
  .hero-container {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .hero-section {
    margin-left: var(--spacing-margin-lg);
  }
}

.hero-container h1, 
.hero-container h4 {
  margin-bottom: var(--spacing-section-mb);
}
