:root {
  /* Base Neutral Tokens */
  --color-neutral-100: #161A25;
  --color-neutral-90: #2C3241;
  --color-neutral-80: #3F4656;
  --color-neutral-70: #636A7B;
  --color-neutral-60: #767E8F;
  --color-neutral-50: #8C93A4;
  --color-neutral-40: #A9AFBD;
  --color-neutral-30: #CBCED6;
  --color-neutral-20: #E4E7ED;
  --color-neutral-10: #F3F5F9;

  /* Base Colors */
  --color-gaBlack: #000000;
  --color-gaWhite: #FFFFFF;
  --color-primary: #00BFA6;
  --color-secondary: #6100FF;
  --color-success: #2ECC71;
  --color-info: #0094FF;
  --color-warning: #FFA800;
  --color-danger: #EF2525;

  /* Extracted Tailwind Defaults Usage */
  --color-gray-500: #6B7280;
  --color-gray-600: #4B5563;
  --color-gray-700: #374151;
  --color-gray-900: #111827;
  
  --color-blue-100: #DBEAFE;
  --color-blue-700: #1D4ED8;

  --color-green-100: #D1FAE5;
  --color-green-700: #15803D;

  --color-red-50: #FEF2F2;
  --color-red-200: #FECACA;
  --color-red-500: #EF4444;
  --color-red-600: #DC2626;
  --color-red-700: #B91C1C;

  --color-custom-text: #3A3F51;
}
